[submodule "external/TorrServer"]
	path = external/TorrServer
	url = https://github.com/LuckyRu/TorrServer.git
	branch = torrserver-manager
[submodule "external/Jackett"]
	path = external/Jackett
	url = https://github.com/LuckyRu/Jackett.git
	branch = jackett-manager
